

header{
	background-color: #8C8C8C;
	border-radius: 15px;
	width: auto;
	height: 80px;
}

body{
	background-color: #ffffff;
	margin: 10px 80px 10px 80px;
	font-family: Times;
	min-height: 500px;
	width: auto;
	display: block;
}

/*configuração de menu*/

nav#menu{
	display: block;
}

nav#menu ul{
	list-style: none;
	text-transform: uppercase;
	float: right;
	padding-right: 10px;
}

nav#menu li{

	display: inline-block;
	background-color: #dddddd;
	padding: 10px;
	margin: 2px;
	-webkit-transition: background-color 1s
	-moz-transition: background-color 1s
	-ms-transition: background-color 1s
	-o-transition: background-color 1s
	transition: background-color 1s
	
}

nav#menu li:hover {
	background-color: #606060;
}

nav#menu h1 {
	display: none;
}

nav#menu a{
	color: #000000;
	text-decoration: none;

}

nav#menu a:hover{
	color: #e5e5e5;
	text-decoration: underline;
}


/*Configuração de imagens*/


img.icone{
	position: relative;
	margin: 9px 25px 20px 10px;
	float: left;
	width: 60px;
	height: 60px;
}

p.introduction{
	margin-top: 5%;
	font-size: 30px;
	color: black;
	font-weight: 10px;
	text-align: center;

}

span.description{
	font-size: 22px;
	font-family: times;
	color: black;
	text-align: center;
}

h1.introduction{
	text-align: center;
}

h1{
	color: gray;
	text-align: center;
	text-overflow: clip;
}

img{
	position: relative;
	margin: 100px, 100px, 100px, 30px;

}

img.index{
	max-width: 650px;
	max-height: 650px;
	margin: auto;
	display: block;
}

img.beneficiados{
	margin: auto;
	display: block;	
	border-radius: 25px;
	max-height: 650px;
}

figcaption.em{
	font-size: 16px;
	color: black;
	text-align: right;

}

span.em{
	font-size: 16px;
	color: black;
	text-align: right;
}

ul.headerLateralList{
	text-align: left;
}

